body {
  background-color: #6699FF;
}

nav {
  background-color: #3366FF;
}

.navbar-brand {
  font-size: 48px;
  color: #CCCCCC;
}

.welcome-text {
  text-align: center; 
  display: block;
  font-size: 48px;
  padding: 10px;
  color: #FFFFFF;
}
